<div class="outer bg-gray-800 text-white p-4">
  <nav class="nav-bar flex items-center justify-between">
    <div class="logo-wrapper font-bold">
      <img alt="logo"
           class="h-12"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Wattpad-logo-vector.svg/2560px-Wattpad-logo-vector.svg.png">
      <!--  1unit="4px"-->
    </div>
    <div class="space-x-4">

      <a routerLink="/" class="hover:text-orange-600">Home</a>
      <a routerLink="/products" class="hover:text-orange-600">Products</a>
      <a routerLink="/orders" class="hover:text-orange-600">Orders</a>
      <a routerLink="/cart" class="hover:text-orange-600">Cart</a>
      <a routerLink="/track-my-order" class="hover:text-orange-600">Track My Order</a>
      <a routerLink="/login" class="hover:text-orange-600">Login</a>


    </div>
  </nav>
</div>

